@import url('https://fonts.googleapis.com/css?family=Mako&display=swap');

html, body {
  font-size: 20px;
  background: url(./img/monopolyPattern.jpg) paleturquoise;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  margin: 0;
}

.players {
  margin-top: 20px;
}

#page-title {
  margin: 5px auto 5px;
  text-align: center;
  font-family: Mako, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #e61710;
  width: 45%;
  border: 3px solid white;
  border-radius: 10px;
}

#page-layout {
  display: grid;
  margin-top: 20px;
  grid-template-columns: [page-start] 800px [board-end] auto [set-line] auto [page-end];
  grid-gap: 1px;
  /* border: 2px solid purple; */
}

#monopoly-board {
  margin-left: 50px;
  box-sizing: border-box;
  width: 640px;
  display: grid;
  justify-content: center;
  grid-template-columns: [board-start square-5-10] 100px [square-4-11] 100px [square-3-12] 100px [square-2-13] 100px [square-1-14] 100px [square-0-16] 100px [board-end];
  grid-template-rows: repeat(6, 100px);
  grid-gap: 3px;
  font-size: 1em;
  position: relative;
  /* color: black; */
  /* border: 2px solid red; */
}


#monopoly-board > div {
  border: 2px solid black;
  border-radius: 5px;
  background: whitesmoke;
  font-family: Mako, Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  text-align: center;
  padding: 2px;
}


div > #sqr-central {
  background-image: url(./img/kisspng-telegram-sticker-messaging-apps-monopoly.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  grid-column-start: square-4-11;
  grid-column-end: square-0-16;
  grid-row-start: 2;
  grid-row-end: 6;
}

/* squares style */

.square-title{
  font-style: italic;
  font-size: 0.55rem;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  width: 90px;
}

.green-deed {
  color: green;
  font-weight: bold;
}
.red-deed {
  color: red;
  font-weight: bold;
}
.purple-deed {
  color: purple;
  font-weight: bold;
}
.blue-deed {
  color: blue;
  font-weight: bold;
}

.square {
  cursor: pointer;
}


/* game settings */


.btn {
  font-size: 1.2em; 
  text-align:center;
  border-radius: 8px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

#start-btn {
  background-color: green;
  transition: 0.3s ease-in;
}

#start-btn:hover {
  background-color: greenyellow;
  color:  #666699;
}

#roll-btn-player1 {
  background-color: #ffa500;
  transition: 0.3s ease-in;
}

#roll-btn-player1:hover {
  background-color: #b37400;
  color:  #ffff66;
  transform: scale(1.05);
}

#roll-btn-player2 {
  background-color: #5c5cd6;
  transition: 0.3s ease-in;
}

#roll-btn-player2:hover {
  background-color: #2e2eb8;
  color:  #ffff66;
  transform: scale(1.05);
}

#roll-btn-player3 {
  background-color: #d55d5d;
  transition: 0.3s ease-in;
}

#roll-btn-player3:hover {
  background-color: #b62f2f;
  color:  #ffff66;
  transform: scale(1.05);
}

#roll-btn-player4 {
  background-color: #e600e6;
  transition: 0.3s ease-in;
}

#roll-btn-player4:hover {
  background-color: #990099;
  color:  #ffff66;
  transform: scale(1.05);
}


#set-space {
  grid-column-start: board-end;
  grid-column-end: set-line;
  /* border: 2px solid blue;  */
  background: #FFEEA2;
  width: 280px;
}

#set-space:last-child{
 padding-top: 30px;
}

 /* players */

#player1-square{
  width: 40px;
  height: 40px;
  float: left;
  margin: 1px;
  /* background-color: orange; */
  content: url(./img/jeff-bezos.png);
}

#player2-square{
  width: 40px;
  height: 40px;
  float: left;
  margin: 1px;
  content: url(./img/bill-gates.png);
}

#player3-square{
  width: 40px;
  height: 40px;
  float: left;
  margin: 1px;
  content: url(./img/elon-musk.png);
}

#player4-square{
  width: 40px;
  height: 40px;
  float: left;
  margin: 2px;
  content: url(./img/Mark-Zuckerberg.png);
}

/* card and dice */

#dice-form-space {
  display: grid;
  grid-column-start: set-line;
  grid-column-end: page-end;
}

.dice-container {
  grid-row-start: 1;
  grid-row-end: 2;
  right: 0;
  width: 280px;
  position: relative;
  /* border: 2px solid pink;  */
}

.form-container {
  grid-row-start: 2;
  grid-row-end: auto;
  right: 0;
  width: 280px;
  /* border: 2px solid pink;  */
}

#register-text {
  padding: 0;
  margin: 0 0 0 1015px;
}

.display-card-description {
  position: absolute;
  /* top: 470px; */
  top: 350px;
  left: 750px;
  width: 280px;  
  /* height: 135px; */
  height: 235px;
  border-style: outset;
  border-color: black;
  border-radius: 10px;
  border-width: 2px;
  background-color: whitesmoke;
  animation-name: fadein;

}

.display-card-description > h1 {
  font-size: 1.5rem;
}

.display-card-description > img {
  height: 140px;
  margin: -5px auto;
}

.card-text {
  margin: 50px auto 0;
  padding: 2px;  
  font-size: 1.1rem;
}

br {
  margin-top: 3px;
}

#display-action {
  width: 280px;
  height: 300px;
  font-size: 0.8rem;
  line-height: 1.5;
}
