@import url('https://fonts.googleapis.com/css?family=Mako&display=swap');

html, body {
  font-size: 20px;
  background: url(./img/monopolyPattern.jpg) paleturquoise;
  
}

h2 {
  margin-bottom: 0;
}

#page-title {
  margin: 5px auto 5px;
  text-align: center;
  font-family: Mako, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #e61710;
  width: 45%;
  border: 3px solid white;
  border-radius: 10px;
}

#page-layout {
  display: grid;
  grid-template-columns: [page-start] 800px [board-end] 1fr [amount-end];
  grid-gap: 5px;
  /* border: 2px solid purple; */
}

#monopoly-board {
  margin-left: 150px;
  width: 615px;
  display: grid;
  grid-template-columns: [board-start square-5-10] 100px [square-4-11] 100px [square-3-12] 100px [square-2-13] 100px [square-1-14] 100px [square-0-16] 100px [board-end];
  grid-template-rows: repeat(6, 100px);
  grid-gap: 3px;
  font-size: 1em;
  /* color: black; */
  /* border: 2px solid red; */
}


#monopoly-board > div {
  border: 2px solid black;
  border-radius: 5px;
  background: whitesmoke;
  font-family: Mako, Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  text-align: center;
  padding: 2px;
}

div > #sqr-central {
  background-image: url(./img/kisspng-telegram-sticker-messaging-apps-monopoly.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  grid-column-start: square-4-11;
  grid-column-end: square-0-16;
  grid-row-start: 2;
  grid-row-end: 6;
}

/* squares style */

#square-title{
  font-style: italic;
  font-size: 0.55rem;
  font-weight: bold;
}

.green-deed {
  color: green;
  font-weight: bold;
}
.red-deed {
  color: red;
  font-weight: bold;
}
.purple-deed {
  color: purple;
  font-weight: bold;
}
.blue-deed {
  color: blue;
  font-weight: bold;
}

/* game settings */

#game-set{
  background: #FFEEA2;
}

.btn {
  font-size: 1.2em; 
  text-align:center;
  border-radius: 8px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

#start-btn {
  background-color: green;
  transition: 0.3s ease-in;
}

#start-btn:hover {
  background-color: greenyellow;
  color:  #666699;
}

#roll-btn {
  background-color: #8080ff;
  transition: 0.3s ease-in;
}

#roll-btn:hover {
  background-color: #1919ff;
  color:  #ffff66;
}

/*
.bank-container {
  grid-column-start: amount-end;
  grid-column-end: span 1;
  grid-row-start: 1;
  border: 2px solid blue; 
}

.set-space {
  grid-column-start: amount-end;
  grid-column-end: span 1;
  grid-row-start: 2;
  border: 2px solid blue; 
}*/

#player1-square{
  width: 45px;
  height: 10px;
  margin: 2px auto 0;
  background-color: red;
}

#register-text {
  padding: 0;
  margin: 0 0 0 1015px;
}